{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="panel" style="width: 97%; overflow: auto; margin: 2rem auto; align-self: center;">
    <p style="text-align: center; font-size: 3rem;">About Us</p>
    <p>
    Gee1 Library is a simple and easy-to-use online library that directs you to sources and documents found around the web. Users can make use of all the available functionalities within it, as well as, search the contents of its database. It can be of use to students, teachers, researchers, and anyone of academia when looking for useful resources but can be used by anyone outside of these criteria. Gee1 Library does not take any sensitive information and respects the privacy of its users.
    </p>
</div>
{% endblock %}