{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="panel" style="width: 70%; overflow: auto; margin: 2rem auto; align-self: center;">
    <p style="text-align: center; font-size: 3rem;">Update Current Entry</p>
    <form action="/update/{{book.id}}" method="post">
        <label for="title">Title:</label>
        <input style="margin: 0.5rem; width: 100%" type="text" placeholder="Enter Title" name="title" id="title"
            value="{{book.title}}" required>

        <br><label for="author">Author: </label>
        <input style="margin: 0.5rem; width: 100%" type="text" placeholder="Enter Author(s)" name="author" id="author"
            value="{{book.author}}" required>

        <br><label for="url">URL: </label>
        <input style="margin: 0.5rem; width: 100%" type="text" placeholder="Enter URL" name="url" id="url" value="{{book.url}}" required>

        <br><label for="topic">Topic: </label>
        <select class="pill" id="topic" name="topic" value="{{book.topic}}" required>
            <option value="Biology">Biology</option>
            <option value="Mathematics">Mathematics</option>
            <option value="Statistics">Statistics</option>
            <option value="Computer Science">Computer Science</option>
            <option value="Physical Education">Physical Education</option>
            <option value="Chemistry">Chemistry</option>
            <option value="Physics">Physics</option>
            <option value="Earth Science">Earth Science</option>
            <option value="Literature">Literature</option>
            <option value="History">History</option>
        </select>

        <br><label for="summary">Summary: </label>
        <textarea class="pill" name="summary" id="summary" placeholder="Enter Summary"
            style="width: 100%; resize: vertical; border-radius: 2rem; white-space: pre-wrap; min-height: 20rem;" required>{{book.summary}}</textarea>

        <br><button class="pill" type="submit" style="margin: 0.5rem auto;">Update</button>
    </form>
</div>
{% endblock %}